<h2>Pacientes</h2>

<button class="btn btn-primary mb-3" [routerLink]="['/patients/new']">
  Novo Paciente
</button>

<div *ngIf="loading">Carregando...XXX</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<table *ngIf="patients.length > 0; else noPatients" class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Convênio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of patients">
      <td>{{ p.fullName }}</td>
      <td>{{ p.cpf || '-' }}</td>
      <td>{{ p.healthPlanName }}</td>
      <td>
        <button class="btn btn-sm btn-secondary"
                [routerLink]="['/patients', p.id]">
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noPatients>
  <p>Nenhum paciente cadastrado.</p>
</ng-template>
